<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/add-transport-container" routerLinkActive="active"  class="nav-link">Transport Container </a>
      </li>
      <li class="nav-item">
        <a routerLink="/add-instruction" routerLinkActive="active" class="nav-link">Add Instruction</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>