
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
            <label for="title">Instruction</label>
            <select
             
              class="form-control"
              id="instructionId"
              required
              [(ngModel)]="transportContainer.instructionId"
              name="instructionId"
              (click)="selectInstruction()"
            >
            <option *ngFor="let item of instructionList" [value]="item.id">{{ item.clientName }}({{ item.clientRef }})</option>
        </select>
          </div>
          <div class="form-group">
            <label for="title">clientRef</label>
            <input
              type="text"
              class="form-control"
              id="clientRef"
              required
              [(ngModel)]="transportContainer.clientRef"
              name="clientRef"
            />
          </div>
        <div class="form-group">
          <label for="title">Container Number</label>
          <input
            type="text"
            class="form-control"
            id="containerNumber"
            required
            [(ngModel)]="transportContainer.containerNumber"
            name="containerNumber"
          />
        </div>
        <div class="form-group">
          <label for="title">Scheduled Date</label>
          <input
            type="date"
            class="form-control"
            id="dateScheduled"
            required
            [(ngModel)]="transportContainer.dateScheduled"
            name="dateScheduled"
          />
        </div>
        <div class="form-group">
          <label for="title">Delivered Date</label>
          <input
            type="date"
            class="form-control"
            id="dateTimeDelivered"
            required
            [(ngModel)]="transportContainer.dateTimeDelivered"
            name="dateTimeDelivered"
          />
        </div>
        <div class="form-group">
          <label for="title">Delivery Address</label>
          <input
            type="text"
            class="form-control"
            id="deliveryAddress"
            required
            [(ngModel)]="transportContainer.deliveryAddress"
            name="deliveryAddress"
          />
        </div>
        <div class="form-group">
          <label for="title">Pickup Address</label>
          <input
            type="text"
            class="form-control"
            id="pickupAddress"
            required
            [(ngModel)]="transportContainer.pickupAddress"
            name="pickupAddress"
          />
        </div>
        <div class="form-group">
          <label for="title">PickupDateTime</label>
          <input
            type="date"
            class="form-control"
            id="pickupDateTime"
            required
            [(ngModel)]="transportContainer.pickupDateTime"
            name="pickupDateTime"
          />
        </div>
        <div class="form-group">
          <label for="title">Transporter</label>
          <input
            type="text"
            class="form-control"
            id="transporter"
            required
            [(ngModel)]="transportContainer.transporter"
            name="transporter"
          />
        </div>
        <div class="form-group">
          <label for="title">VehicleReg</label>
          <input
            type="text"
            class="form-control"
            id="vehicleReg"
            required
            [(ngModel)]="transportContainer.vehicleReg"
            name="vehicleReg"
          />
        </div>
        
  
        <button (click)="saveTransportContainer()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Transport Container Deatils was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newTransportContainer()">Add</button>
      </div>
    </div>
  </div>
  
